@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: #84889c;
}
 
.wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner{
	background: #545871;
	padding: 25px;
	border-radius: 5px;
	width: 400px;
}

.form-group{
	margin-top: 35px;
}

.form-group .form-wrapper{
	margin-bottom: 15px;
}

.form-group .form-wrapper:last-child{
	margin-bottom: 0;
}

.form-group  input[type="text"]:focus{
	border-color: #ebd0ce;
}

.form-group ul{
	background: #fff;
	padding: 8px 10px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
}

.form-group ul li:first-child{
	margin-right: 15px;
}